@use '../../../assets/scss/mixins/mixin.scss' as *;

.dropdown-wrapper {
    position: relative;
    display: inline-block;

    .dropdown-toggle {
        padding: 8px 16px;
        cursor: pointer;
    }
}

.dropdown-menu {
    position: absolute;
    max-height: 300px;
    overflow-y: auto;
    min-width: 220px;
    padding: 8px 8px;
    background-color: var(--color-natural-trans-18);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    box-shadow: 0 2px 5px var(--shadow-lg);
    z-index: 70;
    border: 1px solid var(--color-natural-2);
    @include scrollBar();


    .dropdown-heading {
        font-size: 13px;
        font-weight: 400;
        padding: 4px 12px 4px;
        color: var(--color-natural-7);
    }

    .dropdown-divider {
        height: 1px;
        background: var(--color-natural-4);
        margin: 4px 0;
    }

    .dropdown-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 11px 12px;
        cursor: pointer;
        border-radius: 10px;
        transition: background 0.2s ease;

        .left-section {
            font-size: 15px;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 10px;
            height: 100%;

            svg {
                font-size: 19px;
            }
        }

        .selected-icon {
            position: absolute;
            width: 4px;
            height: 80%;
            background-color: var(--color-primary);
            left: -8px;
            top: 50%;
            transform: translate(0, -50%);
            border-radius: 0px 10px 10px 0px;
        }

        &:hover:not(.disabled) {
            background-color: var(--color-natural-trans-53);
        }

        &.disabled {
            color: var(--color-natural-6);
            cursor: not-allowed;
            pointer-events: none;
        }

        &.danger {
            color: var(--color-danger-text);

            &:hover {
                background-color: var(--color-danger-trans-81);
            }
        }
    }
}