.tech-call-log-item-container {
    background-color: var(--color-natural-trans-53);
    padding: 10px 15px;
    border-radius: 15px 15px 0 15px;

    .message {
        font-size: 14px;
        font-weight: 500;
    }

    >div {
        display: flex;
        gap: 15px;
        justify-content: flex-end;
        margin-top: 10px;

        p {
            font-size: 11px;
            font-weight: 400;
            text-align: end;
            color: var(--text-secondary-3);
        }
    }
}