@use '../../../../assets/scss/mixins/mixin.scss' as *;

.controller-about-customer-container {
    margin-top: 20px;

    .menu-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }

    .sub-title {
        @include subTitleMedium();
    }

    .reg-content {
        .list {
            margin-top: 15px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;

            .item {
                background-color: var(--color-natural-trans-53);
                padding: 10px 15px;
                border-radius: 10px;

                .label {
                    font-size: 13px;
                    color: var((--text-secondary-2));
                }

                div {
                    margin-top: 5px;

                    .text-value {
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }

            .span-item {
                grid-column: span 2;
            }

            .success-item {
                color: var(--color-success)
            }

            .danger-item {
                color: var(--color-danger)
            }

            .location {
                cursor: pointer;
                position: relative;

                svg {
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    font-size: 35px;
                    transform: translate(0, -50%);
                    color: var(--color-primary);
                }
            }
        }
    }

    @media screen and (max-width:1000px) {
        .reg-content {
            .list {
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    @media screen and (max-width:500px) {
        .reg-content {
            .list {
                grid-template-columns: 1fr;

                .span-item {
                    grid-column: span 1;
                }
            }
        }
    }
}