@use "sass:color";

// Primary color
$primary-color-light : #0066FF;
$primary-color-dark : #009CFF ;

$primary-light-palette: (
    50: #E5F0FF,
    100: #CCE0FF,
    200: #99C2FF,
    300: #66A3FF,
    400: #3385FF,
    500: $primary-color-light,
    600: #005ACD,
    700: #004D99,
    800: #003366,
    900: #001A33,
);

$primary-dark-palette: (
    50: #E0F2FF ,
    100: #B3E0FF ,
    200: #80CDFF ,
    300: #4DBBFF ,
    400: #26ACFF ,
    500: $primary-color-dark,
    600: #008DEB,
    700: #007AD5,
    800: #0067BF,
    900: #0042A6,

);

// Success color
$success-color-light: #009a46;
$success-color-dark: $success-color-light;

$success-light-palette: (
    50: #E0F5E8,
    100: #B3E6C6,
    200: #80D4A0,
    300: #4DC17A,
    400: #26AE5B,
    500: $success-color-light,
    600: #008C3F,
    700: #007936,
    800: #00652D,
    900: #004B20,
);

$success-dark-palette: (
    50: #E0F5E8,
    100: #B3E6C6,
    200: #80D4A0,
    300: #4DC17A,
    400: #26AE5B,
    500: $success-color-dark,
    600: #008C3F,
    700: #007936,
    800: #00652D,
    900: #004B20,
);

// Warning color
$warning-color-light: #938700;
$warning-color-dark: $warning-color-light;

$warning-light-palette: (
    50: #FFFEE0,
    100: #FFFCB3,
    200: #FFF680,
    300: #E9D84D,
    400: #BFA726,
    500: $warning-color-light,
    600: #867B00,
    700: #746800,
    800: #615500,
    900: #4B3E00,
);

$warning-dark-palette: (
    50: #FFFEE0,
    100: #FFFCB3,
    200: #FFF680,
    300: #E9D84D,
    400: #BFA726,
    500: $warning-color-dark,
    600: #867B00,
    700: #746800,
    800: #615500,
    900: #4B3E00,
);

// Danger color
$danger-color-light: #d30038;
$danger-color-dark: $danger-color-light;

$danger-light-palette: (
    50: #FEE0E5,
    100: #FFB3C0,
    200: #F98092,
    300: #E84D63,
    400: #DD2648,
    500: $danger-color-light,
    600: #BF0032,
    700: #A8002B,
    800: #920025,
    900: #74001B,
);

$danger-dark-palette: (
    50: #FEE0E5,
    100: #FFB3C0,
    200: #F98092,
    300: #E84D63,
    400: #DD2648,
    500: $danger-color-dark,
    600: #BF0032,
    700: #A8002B,
    800: #920025,
    900: #74001B,
);

// Info color
$info-color-light: #0085f2;
$info-color-dark: $info-color-light;

$info-light-palette: (
    50: #E0F1FF,
    100: #B3DAFF,
    200: #80BFFA,
    300: #4D9FFF,
    400: #268EFA,
    500: $info-color-light,
    600: #0079DE,
    700: #0064C7,
    800: #0050B0,
    900: #00388A,
);

$info-dark-palette: (
    50: #E0F1FF,
    100: #B3DAFF,
    200: #80BFFA,
    300: #4D9FFF,
    400: #268EFA,
    500: $info-color-dark,
    600: #0079DE,
    700: #0064C7,
    800: #0050B0,
    900: #00388A,
);


// Neutral colors (grayscale)
$neutral-color-light: white;
$neutral-color-dark: black;

$neutral-palette: (
    // True White and near-whites
    0: #FFFFFF,
    25: #FBFBFB,
    50: #F7F7F7,
    75: #EBEBEB,
    100: #E0E0E0,

    // Light to medium grays
    150: #CFCFCF,
    200: #C0C0C0,
    250: #B1B1B1,
    300: #A3A3A3,
    350: #969696,
    400: #8B8B8B,
    450: #838383,

    // Mid-gray anchor point
    500: #808080,

    // Dark to near-blacks
    550: #747474,
    600: #6A6A6A,
    650: #606060,
    700: #565656,
    750: #4C4C4C,
    800: #424242,
    850: #363636,
    900: #2B2B2B,
    950: #1D1D1D,

    // True Black
    1000: #000000
);