.tech-customer-contacts {
    display: flex;
    flex-direction: column;
    gap: 3px;

    .contact {
        display: grid;
        grid-template-columns: 85px 1fr 60px;
        align-items: center;
        gap: 10px;
        padding: 0 10px;
        min-height: 32px;

        label,
        span {
            font-size: 14px;
            font-weight: 500;
        }

        .actions {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }




    @media screen and (max-width :330px) {
        .contact {
            grid-template-columns: 85px 1fr;

            .actions {
                display: none;
            }
        }

    }
}