@use '../../../../assets/scss/mixins/mixin.scss'as *;


.tech-customer-service-info-comp {
    margin-top: 10px;

    h2 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
        color: var(--text-secondary-2);
    }

    .service-details {
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-size: 14px;
        font-weight: 500;
        margin-top: 20px;
    }

    .service-details__row {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .service-details__label {
        font-weight: 500;
    }

    .service-details__value {
        color: var(--text-secondary-2);
    }
}