@use '../../../assets/scss/mixins/mixin.scss' as *;

.service-category-page-load {
    margin-top: 20px;
}

.service-category-page-container {
    margin-top: 20px;
    margin-bottom: 40px;

    .action-section {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
    }

    .items-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        width: 100%;
        @include scrollBar();

        .item {
            background-color: var(--color-natural-trans-53);
            padding: 25px 10px 30px 10px;
            border-radius: 15px;
            border: solid 1px var(--border-light);
            position: relative;

            .head {
                display: flex;
                flex-direction: column;
                align-items: center;

                h3 {
                    font-weight: 500;
                    color: var(--color-primary-text);
                }

                >div {
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    color: var(--text-secondary-1);
                    margin-top: 5px;

                    p {
                        font-size: 14px;
                    }
                }
            }

            .info-note {
                position: absolute;
                background-color: var(--color-warning-bg);
                width: 100%;
                left: 0;
                bottom: 0;
                padding: 5px 5px;
                border-radius: 0 0 15px 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                font-size: 11px;
                color: var(--color-warning-text);

                svg {
                    font-size: 13px;
                }
            }
        }
    }



    @media screen and (max-width:1200px) {
        .items-container {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media screen and (max-width:650px) {
        .items-container {
            grid-template-columns: 1fr;
        }
    }
}