@use '../../../../assets/scss/mixins/mixin.scss' as *;

.tech-service-job-item-container {
    border: 1px solid var(--border-medium);
    background-color: var(--color-natural-trans-53);
    padding: 10px 15px;
    border-radius: 15px;
    user-select: none;

    h3 {
        font-size: 16px;
        font-weight: 500;
        @include threeDots();
    }

    .line {
        display: flex;
        justify-content: space-between;
        gap: 5px;
        margin: 6px 0;
        align-items: flex-end;

        p {
            font-size: 14px;
            font-weight: 500;
            color: var(--text-secondary-1);
        }

        div {
            display: flex;
            gap: 15px;
            justify-content: flex-end;

            p {
                font-size: 15px;
                font-weight: 600;
            }

            .success {
                color: var(--color-success);
            }

            .warning {
                color: var(--color-warning);
            }
        }
    }
}