.alert-message {

    --message-bg: var(--background-alt);
    --message-text: var(--text-primary);

    display: flex;
    gap: 10px;
    padding: 15px 13px 15px 18px;
    background-color: var(--message-bg);
    color: var(--message-text);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px var(--shadow-sm);

    .icon {
        font-size: 24px;
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;

        h4 {
            font-size: 15px;
            font-weight: 600;
        }

        span {
            font-size: 14px;
        }
    }
}


.alert-message-secondary {
    --message-bg: var(--text-tertiary);
    --message-text: var(--text-inverse);

}

.alert-message-danger {
    --message-bg: var(--color-danger-bg);
    --message-text: var(--color-danger-text);
}

.alert-message-success {
    --message-bg: var(--color-success-bg);
    --message-text: var(--color-success-text);
}

.alert-message-info {
    --message-bg: var(--color-info-bg);
    --message-text: var(--color-info-text);
}

.alert-message-warning {
    --message-bg: var(--color-warning-bg);
    --message-text: var(--color-warning-text);
}