.tech-stop-work-container {

    .text-section {
        margin-bottom: 20px;
        text-align: start;

        p {
            font-size: 14px;
            color: var(--text-secondary-2);
        }
    }
}