@use '../../../assets/scss/mixins/mixin.scss' as *;

.tech-customer-view-container {
    position: relative;
    margin-bottom: 40px;

    .menu-box {
        padding: 10px 0;
        position: sticky;
        top: 50px;
        z-index: 1;
        background-color: var(--background);
        width: 100%;
        overflow: hidden;

        .slide-menus {
            display: flex;
            gap: 1px;
            overflow-y: auto;
            @include scrollBar();
            background-color: var(--color-natural-2);
            border-radius: 100px;
            padding: 4px;


            .menu-item {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 8px 16px;
                cursor: pointer;
                border-radius: 8px;
                font-size: 13px;
                min-width: fit-content;
                font-size: 500;
                border-radius: 100px;

                svg {
                    font-size: 16px;
                }

                &.active {
                    color: var(--color-natural-1);
                    font-weight: 500;
                    position: relative;
                    background-color: var(--color-natural-10);

                    &:hover {
                        background-color: var(--color-natural-9);
                    }
                }

                &:hover {
                    background-color: var(--color-natural-3);
                }
            }
        }
    }

    .fixed-section {
        position: fixed;
        bottom: 70px;
        right: 20px;
    }
}