@use '../../../assets/scss/mixins/mixin.scss' as *;

.form-resources-page-load {
    margin-top: 20px;
}

.form-resources-page {
    margin-top: 20px;
    margin-bottom: 40px;

    .folder-section {
        margin-bottom: 30px;

        h3 {
            @include subTitleSmall();
        }

        .folders-border {
            display: flex;
            gap: 15px;
            margin-top: 10px;
            flex-wrap: wrap;

            .folder {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: var(--text-primary);
                width: 120px;
                height: 150px;
                cursor: pointer;
                border-radius: 5px;

                &:hover {
                    background-color: var(--surface-1);
                }

                svg {
                    font-size: 110px;
                    color: var(--color-primary);
                }

                p {
                    font-size: 13px;
                    @include threeDots(2);
                    text-align: center;
                }
            }
        }
    }
}