  .tech-service-form-top-bar-container {
      background-color: var(--color-natural-trans-18);
      backdrop-filter: blur(20px);
      border: 1px solid var(--border-light);
      border-radius: 0px 0px 15px 15px;
      padding-top: 10px;

      .action-section {
          border-bottom: 1px solid var(--border-light);
          padding: 5px 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .buttons {
              display: flex;
              gap: 10px;
          }
      }

      .name-section {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 7px 15px;

          p {
              font-size: 13px;
              font-weight: 500;
          }


      }

  }