.s-form-save-and-review-container {

    .submit-section {
        .text-section {
            margin: 20px 0;
            text-align: center;

            h2 {
                font-weight: 600;
            }

            p {
                font-size: 14px;
                color: var(--text-secondary-2);
                margin-top: 10px;
            }
        }
    }
}