.upcoming-services-page-controller {
    margin-top: 20px;
    margin-bottom: 40px;

    .top-section{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }
}