.ui-state-component {
    display: flex;
    justify-content: center;
    align-items: center;

    .ui-state-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        text-align: center;

        .ui-state-icon {
            svg {
                font-size: 45px;
            }
        }

        .ui-state-text {
            h2 {
                font-size: 19px;
                font-weight: 600;
            }

            p {
                font-size: 14px;
                margin-top: 5px;
                color: var(--text-secondary-2);
            }
        }
    }

    &.state-size-lg {
        .ui-state-content {
            gap: 20px;

            .ui-state-icon {
                svg {
                    font-size: 50px;
                }
            }

            .ui-state-text {
                h2 {
                    font-size: 21px;
                    font-weight: 600;
                }

                p {
                    font-size: 16px;
                    margin-top: 5px;
                }
            }
        }
    }

    &.state-size-md {
        .ui-state-content {
            gap: 20px;

            .ui-state-icon {
                svg {
                    font-size: 45px;
                }
            }

            .ui-state-text {
                h2 {
                    font-size: 19px;
                    font-weight: 600;
                }

                p {
                    font-size: 14px;
                    margin-top: 5px;
                }
            }
        }
    }

    &.state-size-sm {
        .ui-state-content {
            gap: 20px;

            .ui-state-icon {
                svg {
                    font-size: 40px;
                }
            }

            .ui-state-text {
                h2 {
                    font-size: 17px;
                    font-weight: 500;
                }

                p {
                    font-size: 13px;
                    margin-top: 5px;
                }
            }
        }
    }
}