.ui-button {

    --btn-color: var(--text-inverse);
    --btn-color-alt: var(--text-primary);
    --btn-color-hover: var(--text-inverse-alt);

    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 15px;
    text-align: center;
    color: var(--btn-color-alt);
    background-color: var(--btn-color);
    border: solid 2px var(--btn-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    svg {
        font-size: 20px;
    }

    &:hover {
        background-color: var(--btn-color-hover);
        border-color: var(--btn-color-hover);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &.outlined {
        background: transparent;
        color: var(--btn-color);
        border-color: var(--btn-color);

        &:hover {
            color: var(--btn-color-hover);
            border-color: var(--btn-color-hover);
        }
    }

    &.text {
        background: transparent;
        border: transparent;
        color: var(--btn-color);

        &:hover {
            color: var(--btn-color-hover);
        }

    }
}

.btn-secondary {
    --btn-color: var(--text-primary);
    --btn-color-hover: var(--text-primary-alt);
    --btn-color-alt: var(--text-inverse);

}

.btn-success {
    --btn-color: var(--color-success);
    --btn-color-hover: var(--color-success-hover);
    --btn-color-alt: var(--color-white);

}

.btn-danger {
    --btn-color: var(--color-danger);
    --btn-color-hover: var(--color-danger-hover);
    --btn-color-alt: var(--color-white);
}

.btn-warning {
    --btn-color: var(--color-warning);
    --btn-color-hover: var(--color-warning-hover);
    --btn-color-alt: var(--color-white);
}

.btn-info {
    --btn-color: var(--color-info);
    --btn-color-hover: var(--color-info-hover);
    --btn-color-alt: var(--color-white);
}

.btn-primary {
    --btn-color: var(--color-primary);
    --btn-color-hover: var(--color-primary-hover);
    --btn-color-alt: var(--color-white);
}

.btn-size-small {
    border-radius: 6px;
    font-size: 0.875rem;
    padding: 8px;
    gap: 8px;

    svg {
        font-size: 16px;
    }
}

.btn-size-medium {
    border-radius: 8px;
    font-size: 1rem;
    padding: 10px;
    gap: 10px;

    svg {
        font-size: 20px;
    }
}

.btn-size-large {
    border-radius: 10px;
    font-size: 1.125rem;
    padding: 12px;
    gap: 12px;

    svg {
        font-size: 24px;
    }
}


.btn-rounded {
    border-radius: 100px;
}

.btn-spin-icon {
    svg {
        animation: iconLoading 1.5s linear infinite;
    }
}

@keyframes iconLoading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}