.ui-button {
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 15px;
    text-align: center;
    color: var(--color-natural-1);
    background-color: var(--color-natural-10);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    svg {
        font-size: 20px;
    }

    &:hover {
        background-color: var(--color-natural-9);
    }

    &:disabled {
        background-color: var(--color-natural-5);
        cursor: not-allowed;
    }

    &.outlined {
        background: none;
        color: var(--color-natural-10);
        border: var(--color-natural-10) solid 2px;

        &:hover {
            background: none;
            color: var(--color-natural-9);
            border: var(--color-natural-9) solid 2px;
        }

        &:disabled {
            background: none;
            color: var(--color-natural-5);
            border: var(--color-natural-5) solid 2px;
            cursor: not-allowed;
        }
    }

    &.text {
        background: none;
        color: var(--color-natural-10);

        &:hover {
            background: none;
            color: var(--color-natural-9);
        }

        &:disabled {
            background: none;
            color: var(--color-natural-5);
            cursor: not-allowed;
        }
    }
}

.btn-secondary {
    color: var(--color-natural-1);
    background-color: var(--color-natural-10);

    &:hover {
        background-color: var(--color-natural-9);
    }

    &:disabled {
        background-color: var(--color-natural-5);
    }

    &.outlined {
        color: var(--color-natural-10);
        border: var(--color-natural-10) solid 2px;

        &:hover {
            color: var(--color-natural-9);
            border: var(--color-natural-9) solid 2px;
        }

        &:disabled {
            color: var(--color-natural-5);
            border: var(--color-natural-5) solid 2px;
        }
    }

    &.text {
        color: var(--color-natural-10);

        &:hover {
            color: var(--color-natural-9);
        }

        &:disabled {
            color: var(--color-natural-5);
        }
    }
}

.btn-success {
    color: var(--color-white);
    background-color: var(--color-success);

    &:hover {
        background-color: var(--color-success-6);
    }

    &:disabled {
        background-color: var(--color-success-6);
        opacity: .5;
    }

    &.outlined {
        color: var(--color-success);
        border: var(--color-success) solid 2px;

        &:hover {
            color: var(--color-success-6);
            border: var(--color-success-6) solid 2px;
        }

        &:disabled {
            color: var(--color-success-6);
            border: var(--color-success-6) solid 2px;
            opacity: .5;
        }
    }

    &.text {
        color: var(--color-success);

        &:hover {
            color: var(--color-success-6);
        }

        &:disabled {
            color: var(--color-success-6);
            opacity: .5;
        }
    }
}

.btn-danger {
    color: var(--color-white);
    background-color: var(--color-danger);

    &:hover {
        background-color: var(--color-danger-6);
    }

    &:disabled {
        background-color: var(--color-danger-6);
        opacity: .5;
    }

    &.outlined {
        color: var(--color-danger);
        border: var(--color-danger) solid 2px;

        &:hover {
            color: var(--color-danger-6);
            border: var(--color-danger-6) solid 2px;
        }

        &:disabled {
            color: var(--color-danger-6);
            border: var(--color-danger-6) solid 2px;
            opacity: .5;
        }
    }

    &.text {
        color: var(--color-danger);

        &:hover {
            color: var(--color-danger-6);
        }

        &:disabled {
            color: var(--color-danger-6);
            opacity: .5;
        }
    }
}

.btn-warning {
    color: var(--color-white);
    background-color: var(--color-warning);

    &:hover {
        background-color: var(--color-warning-6);
    }

    &:disabled {
        background-color: var(--color-warning-6);
        opacity: .5;
    }

    &.outlined {
        color: var(--color-warning);
        border: var(--color-warning) solid 2px;

        &:hover {
            color: var(--color-warning-6);
            border: var(--color-warning-6) solid 2px;
        }

        &:disabled {
            color: var(--color-warning-6);
            border: var(--color-warning-6) solid 2px;
            opacity: .5;
        }
    }

    &.text {
        color: var(--color-warning);

        &:hover {
            color: var(--color-warning-6);
        }

        &:disabled {
            color: var(--color-warning-6);
            opacity: .5;
        }
    }
}

.btn-info {
    color: var(--color-white);
    background-color: var(--color-info);

    &:hover {
        background-color: var(--color-info-6);
    }

    &:disabled {
        background-color: var(--color-info-6);
        opacity: .5;
    }

    &.outlined {
        color: var(--color-info);
        border: var(--color-info) solid 2px;

        &:hover {
            color: var(--color-info-6);
            border: var(--color-info-6) solid 2px;
        }

        &:disabled {
            color: var(--color-info-6);
            border: var(--color-info-6) solid 2px;
            opacity: .5;
        }
    }

    &.text {
        color: var(--color-info);

        &:hover {
            color: var(--color-info-6);
        }

        &:disabled {
            color: var(--color-info-6);
            opacity: .5;
        }
    }
}

.btn-primary {
    color: var(--button-primary-text);
    background-color: var(--button-primary-bg);

    &:hover {
        background-color: var(--button-primary-bg-hover);
    }

    &:disabled {
        background-color: var(--button-primary-bg);
        opacity: .5;
    }

    &.outlined {
        color: var(--button-primary-outline);
        border: var(--button-primary-outline) solid 2px;

        &:hover {
            color: var(--button-primary-outline-hover);
            border: var(--button-primary-outline-hover) solid 2px;
        }

        &:disabled {
            color: var(--button-primary-outline);
            border: var(--button-primary-outline) solid 2px;
            opacity: .5;
        }
    }

    &.text {
        color: var(--color-primary);

        &:hover {
            color: var(--color-primary-6);
        }

        &:disabled {
            color: var(--color-primary-6);
            opacity: .5;
        }
    }
}

.btn-size-small {
    border-radius: 6px;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 8px 12px;
    gap: 8px;

    svg {
        font-size: 16px;
    }
}

.btn-size-medium {
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 15px;
    gap: 10px;

    svg {
        font-size: 20px;
    }
}

.btn-size-large {
    border-radius: 10px;
    font-size: 1.125rem;
    font-weight: 500;
    padding: 12px 18px;
    gap: 12px;

    svg {
        font-size: 24px;
    }
}

.btn-spin-icon {
    svg {
        animation: iconLoading 1.5s linear infinite;
    }
}

@keyframes iconLoading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}