@use '../../../assets/scss/mixins/mixin.scss' as *;

.customer-product-view-controller-container {
    position: relative;
    margin-bottom: 40px;

    .menu-box {
        padding: 10px 0;
        position: sticky;
        top: 0px;
        z-index: 1;
        background-color: var(--background);
        width: 100%;
        overflow: hidden;

        .slide-menus {
            display: flex;
            gap: 10px;
            overflow-y: auto;
            max-height: 300px;
            @include scrollBar();
            background-color: var(--color-natural-2);
            border-radius: 100px;
            padding: 5px 5px;

            .menu-item {
                display: flex;
                align-items: center;
                gap: 5px;
                padding: 10px 15px;
                cursor: pointer;
                border-radius: 8px;
                font-size: 14px;
                min-width: fit-content;
                border-radius: 100px;

                svg {
                    font-size: 18px;
                }

                &.active {
                    color: var(--color-natural-1);
                    font-weight: 500;
                    position: relative;
                    background-color: var(--color-natural-10);

                    &:hover {
                        background-color: var(--color-natural-9);
                    }
                }

                &:hover {
                    background-color: var(--color-natural-3);
                }
            }
        }
    }

    @media screen and (max-width:850px) {
        .top-section {
            flex-direction: column;

            .title {
                text-align: center;
            }

        }

        .contents {
            .section-one {
                grid-template-columns: 1fr;
            }

            .section-two {
                .item-list {
                    .item {
                        grid-template-columns: 1fr 1fr 1fr 35px;
                    }
                }
            }
        }
    }
}