/* radio.scss */
.ui-radio-container {
    .radio-label {
        display: flex;
        align-items: center;
        cursor: pointer;

        input {
            position: absolute;
            opacity: 0;
            pointer-events: none;
        }

        .radio-custom {
            border: 2px solid var(--border-light);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 8px;
            transition: border-color 0.2s ease-in-out;
            background-color: var(--surface-1);
            width: 21px;
            height: 21px;
            min-width: 21px;
            min-height: 21px;
            border-width: 2px;

            &:hover {
                border-color: var(--border-medium);
            }

            svg {
                color: var(--color-primary-text);
                display: none;
                font-size: 12px;
            }
        }


        input:checked+.radio-custom {
            border-color: var(--color-primary-text);
            background-color: var(--color-primary-bg);

            svg {
                display: block;
            }
        }

        input:disabled+.radio-custom {
            border-color: var(--surface-3);
            background-color: var(--surface-3);
            cursor: not-allowed;

            svg {
                display: none;
            }
        }

        input:disabled+.radio-custom+.label-text {
            color: var(--text-tertiary);
        }

        .label-text {
            color: var(--text-secondary);
            font-size: 15px;
            font-weight: 500;
        }
    }

    &.small {
        .radio-label {
            .radio-custom {
                width: 16px;
                height: 16px;
                min-width: 16px;
                min-height: 16px;
                border-width: 1px;
                border-radius: 50%;

                svg {
                    font-size: 10px;
                }
            }

            .label-text {
                font-size: 14px;
                font-weight: 500;
            }
        }
    }

    &.medium {
        .radio-label {
            .radio-custom {
                width: 21px;
                height: 21px;
                min-width: 21px;
                min-height: 21px;
                border-width: 2px;
                border-radius: 50%;

                svg {
                    font-size: 12px;
                }
            }

            .label-text {
                font-size: 15px;
                font-weight: 500;
            }
        }
    }

    &.large {
        .radio-label {
            .radio-custom {
                width: 25px;
                height: 25px;
                min-width: 25px;
                min-height: 25px;
                border-width: 2px;
                border-radius: 50%;

                svg {
                    font-size: 14px;
                }
            }

            .label-text {
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}