.subscription-report-container {
    margin-top: 20px;
    margin-bottom: 40px;

    .reports {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
        justify-content: space-between;

        .report-box {
            background-color: var(--color-natural-trans-53);
            backdrop-filter: blur(5px);
            padding: 10px 15px;
            border-radius: 15px;

            .title-section {
                padding-bottom: 10px;

                h4 {
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--text-secondary-2);
                }
            }

            .content {
                overflow: hidden;
                width: 100%;
                min-height: 170px;
            }
        }

        .report-one {
            grid-column: span 4;
            order: 1;

            .content {
                display: grid;
                grid-template-columns: 1fr 1fr;

                .item-div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    h2 {
                        font-size: 30px;
                        font-weight: 700;
                        text-align: center;
                        color: var(--color-primary);
                    }

                    p {
                        font-size: 13px;
                        text-align: center;
                    }

                    padding: 10px 5px;
                    border-right: 1px solid var(--border-light);
                    border-bottom: 1px solid var(--border-light);


                    &:nth-child(even) {
                        border-right: none;
                    }

                    &:nth-child(3),
                    &:nth-child(4) {
                        border-bottom: none;

                    }
                }
            }
        }

        .report-two {
            grid-column: span 4;
            order: 2;
        }

        .report-three {
            grid-column: span 4;
            order: 3;
        }

        .report-four {
            grid-column: span 6;
            order: 4;
        }

        .report-five {
            grid-column: span 6;
            order: 5;
        }
    }

    .last-update {
        font-size: 13px;
        text-align: end;
        color: var(--text-secondary-2);
        margin-top: 10px;
    }

    @media screen and (max-width:1050px) {

        .reports {
            .report-one {
                grid-column: span 12;
                order: 1;

                .content {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    min-height: auto;

                    .item-div {
                        border-right: 1px solid var(--border-light);
                        border-bottom: none;

                        &:nth-child(2) {
                            border-right: 1px solid var(--border-light);
                        }
                    }
                }
            }

            .report-two {
                grid-column: span 6;
                order: 2;
            }

            .report-three {
                grid-column: span 6;
                order: 3;
            }
        }
    }

    @media screen and (max-width:800px) {
        .reports {

            .report-four {
                grid-column: span 12;
                order: 4;
            }

            .report-five {
                grid-column: span 12;
                order: 5;
            }
        }
    }

    @media screen and (max-width:500px) {
        .reports {
            .report-one {
                grid-column: span 12;
                order: 1;

                .content {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    min-height: auto;

                    .item-div {
                        border-right: 1px solid var(--border-light);
                        border-bottom: 1px solid var(--border-light);

                        &:nth-child(2) {
                            border-right: none;
                        }
                    }
                }
            }

            .report-two {
                grid-column: span 12;
                order: 2;
            }

            .report-three {
                grid-column: span 12;
                order: 3;
            }
        }
    }
}