@use '../../../assets/scss/mixins/mixin.scss' as *;

.view-service-packages-page-load {
    margin-top: 70px;
    padding-bottom: 50px;

    .top-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}

.view-service-package-page {
    margin-top: 20px;
    padding-bottom: 50px;

    .top-section {
        .action-buttons {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 10px
        }
    }

    .package-title {
        width: 100%;
        text-align: center;
        margin-top: 15px;
        border-radius: 15px;
        padding: 15px 10px 25px 10px;
        position: relative;

        .sub-items {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 10px;
            margin-top: 25px;

            .sub-item {
                border-right: 2px dashed var(--border-medium);

                &:last-child {
                    border: none;
                }

                h4 {
                    font-size: 20px;
                    margin-bottom: 5px;
                }

                p {
                    font-size: 14px;
                }
            }
        }

        .status-fold {
            position: absolute;
            top: 0;
            left: 0;
            color: var(--color-white);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px 15px;
            border-radius: 15px 0px 25px 0px;
            gap: 10px;

            svg {
                font-size: 18px;
            }

            p {
                font-size: 13px;
            }

            &.active {
                background-color: var(--color-success-6);
            }

            &.inactive {
                background-color: var(--color-danger-6);
            }
        }
    }

    >p {
        font-size: 12px;
        text-align: end;
        font-weight: 300;
        color: var(--text-secondary-2);
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .service-section {
        margin-top: 30px;

        .sub-title {
            @include subTitleMedium();
            margin-bottom: 12px;
        }

        .service-list {
            display: flex;
            gap: 15px;
            overflow-y: auto;
            width: 100%;
            padding-bottom: 15px;
            @include scrollBar();

            .item {
                width: 350px;
                min-width: 350px;
                max-width: 350px;
                background-color: var(--color-natural-trans-53);
                backdrop-filter: blur(10px);
                padding: 20px 10px;
                border-radius: 20px;
                border: solid 1px var(--border-light);
                position: relative;

                .head {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: 25px;

                    h3 {
                        font-weight: 500;
                        color: var(--color-primary-text);
                    }

                    >div {
                        display: flex;
                        gap: 5px;
                        align-items: center;
                        color: var(--text-secondary-1);
                        margin-top: 5px;

                        p {
                            font-size: 14px;
                        }
                    }
                }

                .list-section {
                    margin-bottom: 15px;

                    .section-title {
                        @include subTitleSmall();
                        font-size: 16px !important;
                        margin-bottom: 5px;
                    }

                    .list-item {
                        display: grid;
                        grid-template-columns: auto 50px 60px;
                        align-items: center;
                        gap: 5px;
                        padding: 10px 0;

                        .part {
                            p {
                                font-size: 14px;
                            }

                            svg {
                                font-size: 20px;
                            }
                        }

                        .part-three {
                            display: flex;
                            justify-content: flex-end;


                            p {
                                font-size: 13px;
                                color: var(--text-secondary-2);
                            }

                            &.success {
                                color: var(--color-success);
                            }

                            &.danger {
                                color: var(--color-danger);
                            }
                        }

                        .part-two {
                            display: flex;
                            justify-content: flex-end;
                            color: var(--text-secondary-2);

                            p {
                                font-size: 13px;
                            }
                        }
                    }
                }

                .buttons {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                }

            }
        }
    }

    .info-text {
        font-size: 12px;
        text-align: start;
        font-weight: 300;
        color: var(--text-secondary-2);
        margin-top: 25px;
    }



    @media screen and (max-width:650px) {
        .service-section {
            .service-list {
                grid-template-columns: 1fr;
            }
        }
    }


}