.ui-badge {

    --badge-bg: var(--text-inverse-alt);
    --badge-text: var(--text-primary);

    display: inline-block;
    font-size: 0.65rem;
    font-weight: 500;
    min-width: max-content;
    height: 1.2rem;
    line-height: 1.2rem;
    background-color: var(--badge-bg);
    color: var(--badge-text);
    border-radius: 50px;
    text-align: center;
    padding: 0 .4rem;
}

// color
.ui-badge-secondary {
    --badge-bg: var(--text-tertiary);
    --badge-text: var(--text-inverse);
}

.ui-badge-primary {
    --badge-bg: var(--color-primary-bg);
    --badge-text: var(--color-primary-text);
}

.ui-badge-success {
    --badge-bg: var(--color-success-bg);
    --badge-text: var(--color-success-text);
}

.ui-badge-danger {
    --badge-bg: var(--color-danger-bg);
    --badge-text: var(--color-danger-text);
}

.ui-badge-warning {
    --badge-bg: var(--color-warning-bg);
    --badge-text: var(--color-warning-text);
}

.ui-badge-info {
    --badge-bg: var(--color-info-bg);
    --badge-text: var(--color-info-text);
}

// size
.ui-badge-md {
    font-size: 0.65rem;
    height: 1.2rem;
    line-height: 1.2rem;
    padding: 0 .4rem;
}

.ui-badge-lg {
    font-size: 0.95rem;
    height: 1.5rem;
    line-height: 1.5rem;
    padding: 0 .5rem;
}

.ui-badge-xl {
    font-size: 1.5rem;
    line-height: 1.9rem;
    height: 2.4rem;
    padding: 0.2rem .8rem;

}

.ui-badge-sm {
    font-size: 0.50rem;
    height: 1.0rem;
    line-height: 1rem;
    padding: 0rem .3rem;
}