.search-customer-by-key-comp {
    form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .key-search-input {
            display: flex;
            gap: 10px;

            .key-type-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid var(--surface-3);
                border-radius: 10px;
                background-color: var(--surface-2);
                // backdrop-filter: blur(5px);
                width: 60px;
                cursor: pointer;


                svg {
                    font-size: 25px;
                }
            }

            .key-type-disable {
                background-color: var(--surface-2);
                color: var(--text-secondary-alt);
                cursor: not-allowed;
            }

            .key-upper-case {
                text-transform: uppercase;
            }
        }
    }
}