.controller-dashboard-page-container {
    margin-bottom: 40px;
    margin-top: 40px;

    .count-card-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;

        .count-card {
            background-color: var(--color-natural-2);
            padding: 20px 15px 15px 15px;
            border-radius: 10px;
            position: relative;
            user-select: none;
            cursor: pointer;

            h2 {
                font-size: 35px;
                font-weight: 600;
                margin-top: 9px;
            }

            h4 {
                font-size: 14px;
                font-weight: 500;
                color: var(--text-secondary-1);
            }

            p {
                font-size: 12px;
                font-weight: 500;
                color: var(--text-secondary-4);
                margin-top: 3px;
            }

        }
    }

    .direct-buttons-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin-top: 10px;

        .button-card {
            background-color: var(--color-natural-2);
            padding: 20px 20px;
            border-radius: 10px;
            position: relative;
            user-select: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            h4 {
                font-size: 16px;
                font-weight: 500;
                color: var(--text-secondary-1);
            }

            svg {
                font-size: 25px;
            }

        }
    }

    .reports {
        margin-top: 20px;

        .report-box {
            background-color: var(--color-natural-trans-53);
            backdrop-filter: blur(5px);
            padding: 10px 15px;
            border-radius: 15px;
            position: relative;

            .title-section {
                padding-bottom: 10px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                h4 {
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--text-secondary-2);
                }

                p {
                    font-size: 13px;
                    font-weight: 400;
                    color: var(--text-secondary-4);
                    margin-right: 45px;
                    text-align: end;
                }

                button {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                }
            }

            .content {
                overflow: hidden;
                width: 100%;
                min-height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
        }


    }

    .last-update {
        font-size: 13px;
        text-align: end;
        color: var(--text-secondary-2);
        margin-top: 10px;
    }


    .footer-container {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;

        .right-section {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        span,
        p {
            font-size: 12px;
            color: var(--text-secondary-4);
        }

        .link {
            cursor: pointer;

            &:hover {
                color: var(--color-primary);
                text-decoration: underline;
            }
        }
    }


    @media screen and (max-width:1000px) {

        .direct-buttons-list,
        .count-card-list {
            grid-template-columns: repeat(2, 1fr);
        }

        .footer-container{
            flex-direction: column;
            gap: 10px;
            text-align: center;
        }
    }

    @media screen and (max-width:500px) {
        .text-mark {
            h1 {
                font-size: 25px;
                font-weight: 600;
            }

            h2 {
                font-size: 18px;
                font-weight: 500;
            }
        }

        .direct-buttons-list,
        .count-card-list {
            grid-template-columns: 1fr;
        }

    }



}