.tech-service-profile-page-load {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px
}


.tech-service-profile-page {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;


    .action-buttons {
        display: flex;
        gap: 10px
    }


}