@use '../../.././../assets/scss/mixins/mixin.scss' as *;


.sf-page-two {

    .verification-type-section {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;

        .type-border {
            background-color: var(--surface-1);
            padding: 15px 15px;
            border-radius: 15px;
            cursor: pointer;

            h3 {
                font-weight: 500;
                font-size: 18px;
                @include threeDots();
            }

            p {
                font-size: 14px;
                font-weight: 400;
                color: var(--text-secondary-2);
                margin-top: 5px;
            }
        }
    }

    .submitted-section {

        .border {

            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px 10px 80px 10px;

            svg {
                font-size: 60px;
                color: var(--color-success);
            }

            h3 {
                font-size: 22px;
                font-weight: 600;
                margin-top: 10px;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                margin-top: 5px;
                color: var(--text-secondary-2);
                text-align: center;
                margin-bottom: 10px;
            }
        }

        .action {
            p {
                font-size: 15px;
                font-weight: 500;
                color: var(--color-primary);
                margin-bottom: 15px;
                cursor: pointer;
            }
        }
    }

}