@use '../../../../assets/scss/mixins/mixin.scss' as *;

.tech-service-form-subpage {
    margin-bottom: 40px;

    .form-section {
        margin-bottom: 20px;

        .subtitle {
            @include subTitleSmall();
            margin-bottom: 10px;
        }

        .box-col1 {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
        }

        .box-col2 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }

    }

    .submit-section {
        margin-top: 35px;
    }

    .note {
        margin: 35px 0px 25px 0px;
    }
}

.sf-subpage-two {
    .nature-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;

        tr {

            td,
            th {
                border: 1px dashed var(--border-medium);
                padding: 5px 5px;
                font-size: 13px;
                font-weight: 400;
                text-align: start;
            }

            .trash {
                color: var(--color-danger);
                font-size: 16px;

                svg {
                    cursor: pointer;
                }
            }

            th {
                color: var(--color-primary-text);
                font-weight: 500;
                text-align: center;
            }
        }
    }

    .sub-form {
        padding: 10px 10px;
        border-radius: 15px;
        border: 1px dashed var(--border-light);
        display: flex !important;
        flex-direction: column;
        align-items: flex-end;

    }
}

