.ui-tanstack-table-div {

    --table-tr-bg: var(--background);
    --table-tr-text: var(--text-primary);
    --table-tr-hover: var(--surface-1);


    margin-top: 15px;

    .table-filter-top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: center;
        min-height: 45px;
        margin-bottom: 15px;
        margin-top: 14px;

        .table-filter-left {
            width: 100%;
            overflow: auto;
            order: 1;

            .text-input-div {
                width: 250px;
                max-width: 100%;
            }
        }

        .table-filter-right {
            order: 2;
            display: flex;
            justify-content: flex-end;
        }
    }

    .bulk-actions {
        background-color: var(--surface);
        margin-bottom: 15px;
        margin-top: 14px;
        min-height: 45px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        padding: 2px 25px;
        box-shadow: 0 2px 5px var(--shadow-sm);
        border: 1px solid var(--border-default);

        .section-one {
            height: 25px;
            display: flex;
            align-items: center;
            padding-right: 20px;
            border-right: 2px solid var(--border-dark);

            span {
                font-size: 15px;
                font-weight: 500;
                color: var(--text-primary);
            }
        }

        .section-two {
            margin-left: 20px;
        }
    }

    .table-filter-content {
        width: 100%;
        border: 1px solid var(--border-light);
        border-radius: 25px;
        overflow: auto;

        table {
            width: 100%;
            border-collapse: collapse;

            thead {
                .sort-icon {
                    color: var(--text-secondary);
                    margin-left: 10px;
                    margin-top: 5px;
                    cursor: pointer;
                }

                .ascent-sort,
                .descent-sort {
                    color: var(--text-secondary);
                }
            }

            .table-checkbox-input {
                display: inline-flex;
                align-items: center;
                cursor: pointer;
                user-select: none;

                input {
                    display: none;

                    &:checked+.checkbox-box::after {
                        opacity: 1;
                    }

                    &:checked+.checkbox-box {
                        background: var(--surface-inverse);
                        border-color: var(--surface-inverse);
                    }

                    &:disabled+.checkbox-box {
                        opacity: .5;
                    }
                }

                .checkbox-box {
                    width: 20px;
                    height: 20px;
                    border: 2px solid var(--border-dark);
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.2s ease;

                    &::after {
                        content: "✔";
                        font-size: 14px;
                        color: var(--text-inverse-alt);
                        opacity: 0;
                        transition: opacity 0.2s ease;
                    }

                    &:hover {
                        border-color: var(--text-primary);
                    }
                }
            }


            td,
            th {
                border: 1px solid var(--border-light);
                padding: 5px 8px;
                font-size: 14px;
                font-weight: 500;
                height: 40px;
                min-height: 40px;
            }

            tr {
                background-color: var(--table-tr-bg);
                color: var(--table-tr-text);

                &:hover {
                    background-color: var(--table-tr-hover);
                }

                &:last-child {
                    td {
                        border-bottom: none;
                    }
                }
            }

            th {
                padding-top: 10px;
                padding-bottom: 12px;
                text-align: left;
                background-color: var(--surface-1);
                color: var(--text-primary);
                text-align: center;
                font-weight: 600;
                font-size: 14px;
                border: 1px 0px solid var(--border-light);
            }

            td {
                &:first-child {
                    border-left: none;
                }

                &:last-child {
                    border-right: none;
                }
            }

            .danger-row {
                --table-tr-bg: var(--color-danger-bg);
                --table-tr-text: var(--color-danger-text);
                --table-tr-hover: var(--color-danger-bg-hover);
            }

            .warning-row {
                --table-tr-bg: var(--color-warning-bg);
                --table-tr-text: var(--color-warning-text);
                --table-tr-hover: var(--color-warning-bg-hover);
            }

            .info-row {
                --table-tr-bg: var(--color-info-bg);
                --table-tr-text: var(--color-info-text);
                --table-tr-hover: var(--color-info-bg-hover);
            }

            .success-row {
                --table-tr-bg: var(--color-success-bg);
                --table-tr-text: var(--color-success-text);
                --table-tr-hover: var(--color-success-bg-hover);
            }

            .selected-td {
                background-color: var(--surface-1);
            }

            .no-data-row {
                text-align: center;
                padding: 20px;
                font-size: 14px;
                color: var(--text-secondary);
                height: calc(5 * 48px);
                vertical-align: middle;
            }
        }

        .RowCheckBox {

            td,
            th {
                &:first-child {
                    width: 50px;
                    min-width: 50px;
                    max-width: 50px;
                    padding: 0;
                    text-align: center;
                }
            }
        }
    }

    .table-filter-bottom {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        .table-filter-left {
            order: 1;

            .page-row {
                label {
                    font-size: 14px;
                    font-weight: 500;
                    margin-right: 10px;
                }

                select {
                    border: none;
                    outline: none;
                }
            }
        }

        .table-filter-right {
            order: 2;
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            align-items: center;

            .page-numbers {
                font-size: 14px;
                font-weight: 500;

            }

            .pagination-buttons {
                display: flex;
                gap: 7px;
            }
        }
    }


    @media screen and (max-width:600px) {
        .table-filter-top {
            grid-template-columns: 1fr;

            .table-filter-left {
                order: 2;
                display: flex;
                justify-content: center;

                .text-input-div {
                    width: 250px;
                    max-width: 100%;
                }
            }

            .table-filter-right {
                order: 1;
            }
        }

        .table-filter-bottom {
            grid-template-columns: 1fr;
            justify-items: center;

            .table-filter-left {
                order: 2;
                margin-top: 10px;

            }

            .table-filter-right {
                order: 1;
            }
        }
    }
}