.not-found {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    .main {
        max-width: 100%;
        width: 600px;

        h4 {
            font-size: 45px;
            background: rgb(74, 0, 104);
            background: linear-gradient(146deg, rgba(107, 0, 150, 1) 0%, rgba(192, 32, 255, 1) 50%, rgba(236, 186, 255, 1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .text {
            display: flex;
            gap: 10px;
            margin-top: 15px;

            p {
                &:first-child {
                    font-size: 18px;
                    font-weight: 600;
                }

                &:last-child {
                    color: var(--text-c2);
                }
            }
        }

        .comment {
            margin-top: 20px;

            p {

                &:last-child {
                    color: var(--text-c2);
                }
            }
        }
    }
}