@use '../../../../assets/scss/mixins/mixin.scss' as *;

.update-pack-modal {
    form {
        .input-group {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            margin-bottom: 10px;

        }

        h3 {
            @include subTitleSmall();
            margin-bottom: 5px;
            margin-top: 10px;
        }

        button {
            margin-top: 10px;
        }


        @media screen and (max-width:500px) {
            .input-group {
                grid-template-columns: 1fr;
            }
        }

    }
}


.update-pack-service-modal {
    form {
        .inputs {
            display: grid;
            gap: 10px;

            .section {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .input-group {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 10px;
                    margin-bottom: 10px;
                }

                .radio-input-label {
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--text-secondary-1);
                }

                .required-span {
                    color: var(--color-danger-text);
                }
            }

            .sub-title {
                @include subTitleSmall();
                margin-top: 8px;
            }
        }

        .button-div {
            display: flex;
            justify-content: flex-end;

            button {
                margin-top: 20px;
            }
        }

    }
}