@use '../../../assets/scss/mixins/mixin.scss' as *;

.tech-service-form-loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px);


    svg {
        font-size: 50px;
        animation: iconLoading 2s linear infinite;
        margin-bottom: 20px;
    }
}

.tech-service-form-container {
    padding: 0 !important;

    .top-bar-container {
        position: sticky;
        top: 55px;
        left: 0;
        width: 100%;
        z-index: 10;

    }

    .service-form-page-container {
        padding: 10px 15px 50px 15px;

        .title-section {
            margin-top: 10px;
            margin-bottom: 25px;

            h3 {
                font-size: 22px;
                font-weight: 700;
                @include threeDots();
            }

            p {
                font-size: 14px;
                font-weight: 500;
                color: var(--text-secondary-2);
            }


        }

        .sub-title {
            @include subTitleSmall();
            margin-bottom: 12px;
        }
    }
}



@keyframes iconLoading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}