@use '../../../assets/scss/mixins/mixin.scss' as *;

.tech-service-form-loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);

    .loader-border {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        width: 300px;
        max-width: 100%;

        svg {
            font-size: 50px;
            animation: iconLoading 2s linear infinite;
            margin-bottom: 20px;
        }

        p {
            font-size: 13px;
            font-weight: 400;
            color: var(--text-secondary-2);
            margin-bottom: 10px;
            text-align: center;

            &:first-child{
                font-weight: 500;
                font-size: 15px;
            }
        }

        .progress-bar {
            background-color: var(--surface-2);
            width: 100%;
            height: 8px;
            border-radius: 50px;
            margin-top: 15px;
            overflow: hidden;
            position: relative;

            .progress {
                background-color: var(--color-primary);
                height: 8px;
                border-radius: 50px;
                width: 0%;
                transition: width 0.2s ease-in-out;
            }

            .spin {
                background-color: var(--color-primary);
                height: 8px;
                border-radius: 50px;
                width: 30%;
                transition: width 0.2s ease-in-out;
                animation: loaderMove 2s cubic-bezier(.4, 0, .2, 1) infinite;
                position: absolute;
            }

            @keyframes loaderMove {
                0% {
                    left: -35%;
                    width: 20%;
                }

                25% {
                    width: 35%;
                }

                50% {
                    left: 100%;
                    width: 20%;
                }

                75% {
                    width: 35%;
                }

                100% {
                    left: -35%;
                    width: 20%;
                }
            }
        }
    }



}

.tech-service-form-container {
    padding: 0 !important;

    .top-bar-container {
        position: sticky;
        top: 55px;
        left: 0;
        width: 100%;
        z-index: 10;

    }

    .service-form-page-container {
        padding: 10px 15px 50px 15px;

        .title-section {
            margin-top: 10px;
            margin-bottom: 25px;

            h3 {
                font-size: 22px;
                font-weight: 700;
                @include threeDots();
            }

            p {
                font-size: 14px;
                font-weight: 500;
                color: var(--text-secondary-2);
            }


        }

        .sub-title {
            @include subTitleSmall();
            margin-bottom: 12px;
        }
    }
}



@keyframes iconLoading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}