@font-face {
    font-family: 'ConfigRounded';
    src: url('../../fonts/config-rounded/ConfigRoundedThin.ttf') format('truetype');
    font-weight: 100;
    font-style: thin;
}

@font-face {
    font-family: 'ConfigRounded';
    src: url('../../fonts/config-rounded/ConfigRoundedExtralight.ttf') format('truetype');
    font-weight: 200;
    font-style: 'ultraLight';
}

@font-face {
    font-family: 'ConfigRounded';
    src: url('../../fonts/config-rounded/ConfigRoundedLight.ttf') format('truetype');
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: 'ConfigRounded';
    src: url('../../fonts/config-rounded/ConfigRoundedRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ConfigRounded';
    src: url('../../fonts/config-rounded/ConfigRoundedMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: medium;
}

@font-face {
    font-family: 'ConfigRounded';
    src: url('../../fonts/config-rounded/ConfigRoundedSemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: 'semiBold';
}

@font-face {
    font-family: 'ConfigRounded';
    src: url('../../fonts/config-rounded/ConfigRoundedBold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'ConfigRounded';
    src: url('../../fonts/config-rounded/ConfigRoundedExtrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: 'extraBold';
}

@font-face {
    font-family: 'ConfigRounded';
    src: url('../../fonts/config-rounded/ConfigRoundedBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: 'black';
}
